*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Varela_Round;
    src: url('../font/Varela_Round/VarelaRound-Regular.ttf');
}

html{
    font-family: Varela_Round;
    scroll-behavior: smooth;
}

/* .name */

.name{
    padding-top: 1.5rem;
    background-image: linear-gradient(rgba(9, 5, 54, 0.3),rgba(5,4,46,0.7)),url("/img/aseriy/7.jpg");
    background-position: center;
    background-size: cover;
    width: 100%;
}

.name .name-1{
    display: flex;
    justify-content: space-between;
    padding-bottom: 2rem;
}

.name .name-1 h2{
    padding-left: 2rem;
    font-size: 1.5rem;
    color:rgb(0, 204, 204);
}

.name .name-1 h2 span{
    color: whitesmoke;
}

.name .name-1 a{
    color: rgb(0, 204, 204);
    font-size: 1.8rem;
    padding-right: 1.5rem;
    padding-top: .2rem;
}

.btn-group-1{
    display: none;
}

.icons{
    border: 2px solidrgb(0, 102, 51);
    border-radius: 1.5rem;
    margin-inline: 4.5rem;
    background-color: rgba(0, 204, 204, 0.397);
    text-align: center;
    padding-block: .5rem;   
}

.icons a{
    color: whitesmoke;
    margin-inline: 1rem;
    font-size: 1.5rem;
}

.intro h2{
    font-size: 1.5rem;
    padding-left: 2rem;
    padding-top: 2rem;
    color: rgb(0, 204, 204);
}

.intro h1{
    font-size: 2.5rem;
    padding-left: 2rem;
    padding-top: 1rem;
    color: whitesmoke;
}

.intro p{
    color: whitesmoke;
    padding-inline: 2rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
}

/* about */

.about{
    background-color: rgb(104, 104, 104);
    padding-top: 2rem;
    text-align: center;
}

.about h1{
    color: rgb(0, 204, 204);
    font-size: 3rem;
    padding-bottom: 2rem;
}


.about p{
    font-size: 1.2rem;
    color: whitesmoke;
    padding-inline: 1rem;
    padding-bottom: 3rem;
    
}

.about p a{
    text-decoration: none;
    color: rgb(0, 204, 204);
}

.resume{
    padding-bottom: 5rem;
}

.resume a{
    text-decoration: none;
    font-size: 1.2rem;
    color: whitesmoke;
    border: 2px solid rgb(0, 204, 204);
    padding-inline: 2rem;
    padding-block: .5rem;
    background-color: rgb(0, 204, 204);
}

/* photos */

.photos{
    background-color: rgba(104, 104, 104, 0.911);
    padding: .5rem;
}

.photos h1{
    font-size: 3rem;
    color: rgb(0, 204, 204);;
    text-align: center;
    padding-block: 2rem;
}
li{
    list-style: none;
}

.photos img{
    width: 100%;
}

.pic .cont-act{
    display: none;
}

/* contact */

.contacts{
    background-color: rgba(104, 104, 104, 0.911);
}

.contacts h1{
    text-align: center;
    color: rgb(0, 204, 204);
    font-size: 3rem;
    padding-top: 2rem;
}

.contacts h2{
    text-align: center;
    padding-top: 1rem;
    color: whitesmoke;
    font-size: 2rem;
}

.contacts h3{
    text-align: center;
    font-size: 1.3rem;
    color: rgba(245, 245, 245, 0.863);
    padding-top: 1rem;
}

.contacts h4{
    text-align: center;
    padding-top: .5rem;
    color: rgba(245, 245, 245, 0.842);
    font-size: 1.2rem;
}

.contacts p{
    text-align: center;
    padding-block: .5rem;
    color: rgba(245, 245, 245, 0.822);
}

.cont-act{
    padding-bottom: 2rem;
}

.contacts .icons{
    background-color: rgba(0, 204, 204, 0.774);
}

.contacts .icons a{
    color: rgb(104, 104, 104);
}

.icon-bottom{
    padding-bottom: 1.5rem;
}

.copyright{
    background-color: rgb(104, 104, 104);
    padding: 2rem;
    text-align: center;
}




@media (min-width: 800px) {

    .name{
        height: 70vh;
    }

    .all-name .name-1 h2{
        font-size: 4rem;
        padding-top: 2rem;
        padding-left: 8rem;
    }

    .all-name .name-1 a{
        display: none;
    }

    .btn-group-1{
        display: block;
        
    }

    .all{
        display: flex;
        justify-content: space-between;
    }

    .icons{
        display: none;
    }

    .btn-group-1{
        display: flex;
        flex-direction: column;
        border: 2px solidrgb(0, 102, 51);
        border-radius: 1.5rem;
        padding-right: 1.5rem;
        margin-block: 4.5rem;
        background-color: rgba(0, 204, 204, 0.397);
        padding-block: 5rem; 
        position: fixed; 
        gap: 3rem;
    }

    .btn-group-1 a{
        color: whitesmoke;
        margin-left: 1.3rem;
        font-size: 1.8rem;
        transition: 0.3s ease;
    }

    .btn-group-1 a:hover{
        color: rgb(0, 204, 204);
    }

    .intro h2{
        font-size: 3.5rem;
        padding-left: 12rem;
        padding-top: 2.5rem;
        color: rgb(0, 204, 204);
    }
    
    .intro h1{
        text-align: center;
        font-size: 13rem;
        padding-top: 2rem;
        color: whitesmoke;
    }
    
    .intro p{
        font-size: 1.8rem;
        color: whitesmoke;
        padding-inline: 16rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .para{
        display: flex;
        justify-content: space-around;
        text-align: center;
        padding-inline: 2rem;
    }

    .para p{
        width: 40%;
    }

    .img{
        padding: 2rem;
        display: flex;
        justify-content: space-between;
    }
    
   li{
        list-style: none;
        width: 80%;
    }

    .pic .flex{
        display: flex;
    }

    .pic .cont-act{
        display: block;
        padding-left: 4rem;
    }

    .pic .cont-act h1{
        text-align: start;
        color: rgb(0, 204, 204);
        font-size: 3rem;
        padding-top: 2rem;
        padding-left: 3rem;
    }
    
    .pic .cont-act h2{
        text-align: start;
        padding-top: 1rem;
        color: whitesmoke;
        font-size: 2rem;
        padding-left: 3rem;
    }

    .pic .cont-act h3{
        font-size: 1.3rem;
        color: rgba(245, 245, 245, 0.863);
        padding-top: 1rem;
    }
    
    .pic .cont-act h4{
        padding-top: .5rem;
        color: rgba(245, 245, 245, 0.842);
        font-size: 1.2rem;
    }
    
    .pic .cont-act p{
        padding-block: .5rem;
        color: rgba(245, 245, 245, 0.822);
    }
    
    .pic .cont-act{
        padding-bottom: 2rem;
    }


    .contacts .cont-act{
        display: none;
    }

    .experts{
        display: flex;
        justify-content: space-around;
    }

    .cont-all{
        display: flex;
        justify-content: space-around;
    }

    .icon-bottom .icons{
        display: flex;
        width: 62%;
    }

    .icon-bottom .icons a{
        transition: 0.3s ease;
    }

    .icon-bottom .icons a:hover{
        color: whitesmoke;
    }

    .copyright{
        background-color: rgba(104, 104, 104, 0);
        padding-bottom: 3rem;
    }

   
}